/*
 * Multi-project clustering configuration.
 * 5 Homo sapiens projects, skip_instrument mode (all instruments clustered together).
 * Uses local pyspectrafuse:local Docker image with all bug fixes.
 */

params {
    parquet_dir     = '/srv/data/spectrafuse/multi_batch1'
    outdir          = '/srv/data/spectrafuse/multi_output'
    skip_instrument = true
    mgf_verbose     = false
    max_memory      = '8.GB'
    max_cpus        = 4
    max_time        = '6.h'
}

process {
    withName: '.*GENERATE_MGF_FILES'          { container = 'pyspectrafuse:local' }
    withName: '.*GENERATE_MSP_FORMAT.*'       { container = 'pyspectrafuse:local' }
    withName: '.*COMBINE_PROJECT_MSP'         { container = 'pyspectrafuse:local' }
    withName: '.*GENERATE_CLUSTER_PARQUET.*'  { container = 'pyspectrafuse:local' }
    withName: '.*EXTRACT_REPRESENTATIVES'     { container = 'pyspectrafuse:local' }
    withName: '.*MERGE_INCREMENTAL'           { container = 'pyspectrafuse:local' }
}

docker.runOptions = ''
docker.registry = ''
