/*
 * Multi-project clustering configuration.
 * 5 Homo sapiens projects, skip_instrument mode (all instruments clustered together).
 * Uses local pyspectrafuse:local Docker image.
 */

params {
    parquet_dir     = '/srv/data/spectrafuse/multi_batch1'
    outdir          = '/srv/data/spectrafuse/multi_output'
    skip_instrument = true
    max_memory      = '8.GB'
    max_cpus        = 4
    max_time        = '6.h'
}

process {
    withName: '.*PARQUET_TO_DAT'             { container = 'pyspectrafuse:local' }
    withName: '.*BUILD_CLUSTER_DB'           { container = 'pyspectrafuse:local' }
    withName: '.*GENERATE_MSP_FORMAT.*'      { container = 'pyspectrafuse:local' }
    withName: '.*COMBINE_PROJECT_MSP'        { container = 'pyspectrafuse:local' }
    withName: '.*EXTRACT_REPRESENTATIVES'    { container = 'pyspectrafuse:local' }
    withName: '.*MERGE_INCREMENTAL'          { container = 'pyspectrafuse:local' }
}

docker.runOptions = ''
docker.registry = ''
