
params{

  // MaraCluster parameters
  maracluster_pvalue_threshold = -5.0 // Set log(p-value) threshold for MaraCluster
  maracluster_verbose = false // Set to true to enable verbose output from MaraCluster

}

includeConfig 'conf/base.config'

profiles {
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }

    ebislurm{
         conda.enable           = false
         docker.enabled         = false
         singularity.enabled    = true
         executor {
            name = "slurm"
            queueSize = 1000
            submitRateLimit = "10/1sec"
            exitReadTimeout = "30 min"
            jobName = {
                task.name // [] and " " not allowed in lsf job names
                .replace("[", "(")
                .replace("]", ")")
                .replace(" ", "_")
            }
         }
         singularity.autoMounts = false
         singularity.runOptions = '-B /hps/nobackup/juan/pride/reanalysis:/hps/nobackup/juan/pride/reanalysis'
         singularity.cacheDir = "/hps/nobackup/juan/pride/reanalysis/singularity/"
    }
}