/*
 * Large-scale test: PXD004452 (5.5M PSMs, Homo sapiens, Q Exactive, 620 runs)
 *
 * Run:
 *   cd /srv/data/spectrafuse/repo-clone
 *   nextflow run main.nf -c pxd004452.config -profile docker --outdir /srv/data/spectrafuse/test_output/nf_pxd004452
 */

params {
    parquet_dir = '/srv/data/spectrafuse/test_input/pxd004452'
    outdir      = '/srv/data/spectrafuse/test_output/nf_pxd004452'
    max_memory  = '16.GB'
    max_cpus    = 4
    max_time    = '12.h'
    mgf_verbose = false

    // MaRaCluster settings
    cluster_threshold     = 30
    maracluster_pvalue_threshold = -10.0

    // Consensus strategy
    strategytype = 'best'
}

process {
    withName: '.*GENERATE_MGF_FILES'          { container = 'pyspectrafuse:local' }
    withName: '.*GENERATE_MSP_FORMAT.*'       { container = 'pyspectrafuse:local' }
    withName: '.*COMBINE_PROJECT_MSP'         { container = 'pyspectrafuse:local' }
    withName: '.*GENERATE_CLUSTER_PARQUET.*'  { container = 'pyspectrafuse:local' }
    withName: '.*EXTRACT_REPRESENTATIVES'     { container = 'pyspectrafuse:local' }
    withName: '.*MERGE_INCREMENTAL'           { container = 'pyspectrafuse:local' }
}

docker.runOptions = ''
docker.registry = ''
