/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple test.

    Use as follows:
        nextflow run bigbio/spectrafuse -profile test,<docker/singularity> [--outdir <OUTDIR>]

------------------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '12.GB',
        time: '48.h'
    ]
}

params {
    config_profile_name        = 'Test profile for spectrafuse'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    outdir = "./results_test"

    // Input data
    // Test data is downloaded from FTP server in CI workflow
    // The parquet_dir should point to a directory containing project subdirectories
    // Each project directory should contain parquet files and SDRF files
    parquet_dir = "${projectDir}/test_data"

    // Use minimal parameters for faster CI testing
    cluster_threshold = 30
    maracluster_pvalue_threshold = -10.0
    maracluster_verbose = false
    mgf_verbose = false
}

